.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.carousel-caption h2 {
  font-size: 3rem;   /* tamaño subtítulo */
  font-family: 'Playfair'; color: #F5EFE6;
}

.carousel-caption h1 {
  font-size: 4rem;     /* título principal grande */
  font-weight: bold;
  font-family: 'Playfair'; color: #F5EFE6;
}

@media (max-width: 768px) {
  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption h1 {
    font-size: 2.2rem;
  }
}

.carousel-caption h1,
.carousel-caption h2 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}